"for you have Select Python Interpreter"
pip install mediapipe==0.10.14 tensorflow==2.16.1 protobuf==4.25.3 opencv-python numpy pyautogui
"for you don't Select Python Interpreter"
py -m pip install mediapipe==0.10.14 tensorflow==2.16.1 protobuf==4.25.3 opencv-python numpy pyautogui